type bdaddwriter, domain;
permissive bdaddwriter;
type bdaddwriter_exec, exec_type, file_type;
type mac_data_file, file_type, data_file_type;
init_daemon_domain(bdaddwriter)
file_type_auto_trans(bdaddwriter, system_data_file, mac_data_file)
unconfined_domain(bdaddwriter)
