# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow system_server read and write gps_data_file
allow system_server gps_data_file:file create_file_perms;
allow system_server gps_data_file:sock_file create_file_perms;
allow system_server gps_data_file:dir rw_dir_perms;
allow system_server gps_data_file:fifo_file create_file_perms;
allow system_server gps_data_file:unix_dgram_socket { sendto };
allow system_server agnss_connect:unix_dgram_socket { sendto };

# pmqos control
allow system_server pmqos_device:chr_file rw_file_perms;

# i2c
allow system_server sysfs_nvi2c:dir r_dir_perms;
allow system_server sysfs_nvi2c:file rw_file_perms;
allow system_server sysfs_nvi2c:lnk_file rw_file_perms;

allow system_server proc_wmem_max_writable:file rw_file_perms;
r_dir_file(system_server, factory_file)

# phs
allow_use_phs(system_server)

# /dev/tegra-throughput
allow system_server throughput_device:chr_file { open read write ioctl };

allow system_server phsd_data:sock_file { write };

# language settings
allow system_server default_prop:property_service set;

# move app to sdcard
allow system_server apk_data_file:lnk_file link_file_perms;
allow system_server fuse:dir search;
