on init

    # TWRP complains that there is no brightness file. Well, since we
    # don't care about doing anything the correct way, here is the
    # worst possible way to fix this issue.
    # --- To be implemented ---

    # The flashing colors in recovery mode is kinda weird, so let's
    # just make it blue!
    # --- To be implemented ---
